.body1 {
	min-width: 540px;
	background-image: url(https://i.pinimg.com/originals/85/56/2d/85562d79ff5cd98affde0e96f9c5b4b4.jpg);
	font-family: cursive;
}


.flex-container {
	display: flex;
	flex-direction: row;
	padding: 30px;
	width: 100%;
	min-width: 540px;


}

.flex-container a {
	color: #A8CED0;
	font-size: 20px;
	font-weight: bold;
	margin-left: 50px;
	margin-right: 10px;

}

.headh1 {
color: #D5513D;
margin-left:120px;
display: inline;
color: #ABCED0;
}

.article {
	color: #D5513D;
	font-size: 20px;
	margin-left: 140px;
}

.main {
	margin-top: 10%;
	font-weight: bold;
	font-style: italic;
}
p {
	margin-bottom: 0;
}
.coming {
	margin-left: 20px;
	margin-top: 0;
	color: #FAA43E;
}

.page-footer {
	color: #ffffff;
	min-width: 320px;
	
}
.parafooter {
	padding-top: 500px;
	text-align: center;
}

.body2,.body3 {
	min-width: 540px;
	background-color: #0D2F4B; 
	font-family: cursive;
}

.flex-container1 {
	display: flex;
	flex-direction: row;
	padding: 30px;
	width: 100%;
	min-width: 320px;


}

.flex-container1 a {
	color: #A8CED0;
	font-size: 20px;
	font-weight: bold;
	margin-left: 50px;
	margin-right: 10px;
	margin-top: 50px;

}
.container {
	margin-top: 50px;
}
.progress {
	background-color: #0D2F4B;
	width: 50%;
	margin-left: 100px;
	margin-bottom: 30px;
	border:1px solid #ABCED0;
	height: 30px;
}
.progress-bar {
	background-color: #E74F36;
}

.col-sm {
	color: #F2AA42;

}

#col2 {
	text-align: center;
}
#col2 h2 {
	line-height: 740px;
}

.soon {
	color: #A8CED0;
	text-align: center;	
}

.contact-meform h1{
	text-align: center;
	color: #ABCED0;
}

.contact-form {
	max-width: 500px;
	margin:auto;
	padding: 0 10px;
	overflow: hidden;
}

.form-text {
	display: block;
	width:100%;
	box-sizing: border-box;
	margin:16px 0;
	padding: 20px 40px;
	border: 0;
}

.form-text:focus {
	box-shadow: 0 5px 10px 7px #ABCED0;
}

.textarea {
	display: block;
	resize: none;
	height: 140px;
	width: 100%;
	box-sizing: border-box;
	margin:16px 0;
	padding: 20px 40px;
	border: 0;
}
.textarea:focus {
	box-shadow: 0 5px 10px 7px #ABCED0;
}

.form-text1 {
	padding: 10px 60px;
	background-color: #FAA43E;
	float: right;
	clear: both;
	color: #0D2F4B;
	border-right: 15px;
	border: 0;
	font-size: 25px;
}
.form-text1:hover{
	background-color: #909090;
}

.page-footer1 {
	margin-top: 0px;
	color: #ffffff;
	padding-top:300px;
	text-align: center;
}

.social {
	padding: 50px;
}
.forget h4 {
	color: #ABCED0;
	margin-top: 10px;
	font-weight: bold;
}

.forget img {
	padding-top: 20px;
	padding-bottom: 20px;
}